*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #0D0D0D;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #262626 solid 1px;
    padding: 8px;
    color: #F2F2F2;
    border-radius: 20px;
    background-color: #262626;
    margin: 0 50px;
}

.container-hora{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

#dv1, #dv2, #dv3 {
    border: solid 1px #262626;
    border-radius: 8px;
    background: #262626;
    font-size: 22rem;
    color: #F2F2F2;
    margin: 30px 5px;
}

.divisao{
    color: #F2F2F2;
    font-weight: bold;
    font-size: 2rem;
}

#dia{
    color: #F2F2F2;
    margin: 15px 620px;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: #F2F2F2 solid 1px;
}

input{
    margin: 0 50px;
    padding: 8px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    background-color: lightgray;
    font-weight: 600;
}

/* outro tema */

.fundo{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e)
}

